@charset "UTF-8";
body {
  font-family: "Lora", serif;
  color: black;
  background-image: url("../img/bx1.JPEG");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 85%;
}

#login {
  height: 200px;
  width: 300px;
  font-size: 19px;
  align-items: center;
  justify-items: center;
  margin: 250px auto;
  padding: 20px;
  background-color: rgb(237, 194, 0);
}

input[type=text],
input[type=password] {
  width: 300px;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  outline: none;
  box-sizing: border-box; /*przegladarka pilnuje zeby inputy miały tyle szerokości ile ilość contentu o| może być również boreder-box - wtedy szerokość definiowana na stałe jak w przypadku przycisku np. submit czyli bierze szerokość i paddingi pod uwage a nie zawarstość*/
  margin-top: 20px;
}

input[type=submit] {
  width: 300px;
  background-color: #57534d;
  color: white;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 30px;
  box-sizing: border-box;
}

input[type=text]:focus,
input[type=password]:focus {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
  border: 2px solid #a5cda5;
  background-color: #e9f3e9;
  color: #428c42;
}

input[type=submit]:hover {
  background-color: #37b93d;
}

input[type=submit]:focus {
  -webkit-box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 0px 0px 15px 5px rgba(204, 204, 204, 0.9);
}

input::-webkit-input-placeholder {
  color: #999;
}

input:focus::-webkit-input-placeholder {
  color: #428c42;
}

/*to dla Firefox <19*/
input:-moz-placeholder {
  color: #999;
}

input:focus:-moz-placeholder {
  color: #428c42;
}

/*to dla Firefox >19*/
input::-moz-placeholder {
  color: #999;
}

input:focus::-moz-placeholder {
  color: #428c42;
}

/*to dla Internet Explorer 10*/
input:-ms-input-placeholder {
  color: #999;
}

input:focus:-ms-input-placeholder {
  color: #428c42;
}/*# sourceMappingURL=login_style.css.map */