body {
  font-family: "Lora", serif;
  color: black;
  background-image: url("../img/bx1.JPEG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

#container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header" "menu menu menu menu" "topbarL topbarR topbarR topbarR" "main main main boczny" "adv1 adv1 adv1 adv1" "footer footer footer footer";
  justify-items: stretch;
  align-items: stretch;
  gap: 20px 20px;
}

#header {
  grid-area: header;
  display: flex;
  gap: 20px 20px;
  justify-content: space-between;
}

#logo {
  background-color: rgb(237, 194, 0);
  text-align: center;
  border-radius: 7px;
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#BX {
  text-align: center;
  border-radius: 7px;
  grid-area: BX;
}

#BX a img {
  border-radius: 7px;
  display: block;
  width: 100%;
  height: 100%;
}

#BX a {
  display: block;
  width: 100%;
  height: 100%;
}

#menu {
  grid-area: menu;
  border-radius: 7px;
  position: sticky;
  top: 0;
  z-index: 100;
}

#topbarL {
  padding: 20px;
  background-color: #57534d;
  text-align: center;
  grid-area: topbarL;
  border-radius: 7px;
  z-index: 0;
  opacity: 85%;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
}
#topbarL img {
  display: block;
  width: 100%;
  height: 100%;
  justify-items: center;
}

#topbarR {
  padding: 20px;
  background-color: #57534d;
  font-size: 16px;
  grid-area: topbarR;
  border-radius: 7px;
  opacity: 85%;
  z-index: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  grid-area: main;
  gap: 20px 20px;
}

#boczny {
  grid-area: boczny;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nav" "adv";
  gap: 20px 20px;
}

#nav {
  font-size: 19px;
  background-color: #6e6d69;
  border-radius: 7px;
  opacity: 100%;
  text-align: center;
}
#nav a {
  color: white;
}

#adv {
  font-size: 19px;
  background-color: #6e6d69;
  border-radius: 7px;
  opacity: 100%;
  text-align: center;
  height: auto;
}

#cont {
  padding: 10px;
  text-align: center;
  grid-area: cont;
  border-radius: 7px;
  background-color: rgb(237, 194, 0);
  justify-items: stretch;
  align-items: stretch;
}

#footer {
  text-align: center;
  text-shadow: 2px 2px grey;
  border-radius: 7px;
  background-color: rgb(237, 194, 0);
  grid-area: footer;
}

.adv1 {
  grid-area: adv1;
}

.optionL {
  height: 25px;
  padding: 10px;
  border-bottom: 2px dotted #444444;
}

.bigtitle {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
}

.dottedline {
  height: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 2px dotted #444444;
}

ol > li > ul a {
  text-decoration: none;
  color: white;
}

ol > li:hover > ul {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}
a :link {
  text-decoration: none;
}
a :visited {
  color: rgb(65, 15, 75);
  text-decoration: none;
}
a :hover {
  background-color: #a19b93;
  color: rgb(28, 82, 14);
}

ol {
  margin: 0%;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
  height: 50px;
}

ol > li > a {
  background-color: #161615;
  display: inline-block;
  font-size: 19px;
  padding: 7px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-right: 2px dotted #57534d;
  border-left: 2px dotted #57534d;
  border-top: 2px dotted #57534d;
  border-bottom: 2px dotted #57534d;
  border-radius: 7px;
  text-align: center;
  color: white;
}

ol > li :hover {
  background-color: #a19b93;
}
ol > li :hover {
  color: rgb(28, 82, 14);
}

ul {
  display: none;
  background-color: #161615;
  font-size: 16px;
  list-style-type: none;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-right: 2px dotted #57534d;
  border-left: 2px dotted #57534d;
  border-top: 2px dotted #57534d;
  border-bottom: 2px dotted #57534d;
  border-radius: 7px;
  opacity: 90%;
  text-align: center;
}

ul > li > a {
  color: white;
}

@media (max-width: 735px) {
  #header {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: stretch;
  }
  ol {
    display: flex;
    position: fixed;
    width: 100%;
    height: 120px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    bottom: 0;
    background-color: #161615;
    opacity: 90%;
  }
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
  #container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "topbarL" "topbarR" "boczny" "main" "adv1" "footer" "menu";
  }
  ul {
    position: relative;
    bottom: 140px;
  }
  .nasz-zespol {
    bottom: 260px;
  }
  #nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  #nav a {
    width: 100%;
  }
  #footer {
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
  .adv2 {
    display: none;
  }
  #boczny {
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 0;
  }
  #logo h1 {
    font-size: 20px;
    padding: 0;
    margin: 0;
  }
  .bigtitle {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */