@use "utilities/colors" as colors;
@use "utilities/sizes" as sizes;

body {
  font-family: "Lora", serif;
  color: black;
  background-image: url("../img/bx1.JPEG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

#container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "header header header header"
  "menu menu menu menu"
  "topbarL topbarR topbarR topbarR"
  "main main main boczny"
  "adv1 adv1 adv1 adv1"
  "footer footer footer footer";
  justify-items: stretch;
  align-items: stretch;
  gap: 20px 20px;
}
#header {
 grid-area: header;
 display: flex;
//  display: grid; 
//  grid-template-columns: repeat(4, 1fr);
//  grid-template-areas:
//  "logo logo BX BX";
 gap: 20px 20px;
//  justify-items: stretch;
//  align-items: stretch;
justify-content: space-between;
}
#logo {
  background-color: colors.$head_footer_color;
  text-align: center;
  border-radius: sizes.$border_radius;
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#BX {
  text-align: center;
  border-radius: sizes.$border_radius;
  grid-area: BX;
}
#BX a img{
  border-radius: sizes.$border_radius;
  display: block;
  width: 100%;
  height: 100%;
}
#BX a {
display: block;
width: 100%;
height: 100%;
}
#menu {
  grid-area: menu;
  border-radius: sizes.$border_radius;
  position: sticky;
  top: 0;
  z-index: 100;
}

#topbarL {
  padding: 20px;
  background-color: colors.$second_color;
  text-align: center;
  grid-area: topbarL;
  border-radius: sizes.$border_radius;
  z-index: 0;
  opacity: 85%;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  img {
  display: block;
  width: 100%;
  height: 100%;
  justify-items: center;
  }
}

#topbarR {
  padding: 20px;
  background-color: colors.$second_color;
  font-size: 16px;
  grid-area: topbarR;
  border-radius: sizes.$border_radius;
  opacity: 85%;
  z-index: 0;
  color:white; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main {
  grid-area: main; 
  gap: 20px 20px;
  // align-content: center;
  // justify-content: center;
  // justify-items: stretch;
  // align-items: stretch;
}
#boczny {
  grid-area: boczny;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "adv";
  gap: 20px 20px;
  }
#nav {
  font-size: sizes.$menu_nav_font_sizes;
  background-color: colors.$options_nav_color;
  border-radius: sizes.$border_radius;
  opacity: 100%;
  text-align: center;
  a {
  color: white;
  }
}
#adv {
  font-size: sizes.$menu_nav_font_sizes;
  background-color: colors.$options_nav_color;
  border-radius: sizes.$border_radius;
  opacity: 100%;
  text-align: center;
  height:auto;
}
#cont {
  padding: 10px;
  text-align: center;
  grid-area: cont;
  border-radius: sizes.$border_radius;
  background-color: colors.$content_color;
  justify-items: stretch;
  align-items: stretch;
}
#footer {
  text-align: center;
  text-shadow: 2px 2px grey;
  border-radius: sizes.$border_radius;
  background-color: colors.$head_footer_color;
  grid-area: footer;
}
.adv1 {
  grid-area: adv1;
}

.optionL {
  height: 25px;
  padding: 10px;
  border-bottom: 2px dotted #444444;
}
.bigtitle {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
}
.dottedline {
  height: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 2px dotted #444444;
}
ol > li > ul a
{
  text-decoration: none;
  color: white;
}
ol  li  ul  li
{

}
ol > li:hover > ul
{
  display: block;
}

//wszystkie linki

a {
  color:black;
  text-decoration: none;
  :link {
    text-decoration: none;
  }
  :visited {
    color: rgb(65, 15, 75);
    text-decoration: none;
  }
  :hover {
    background-color: colors.$hover_color;
    color: colors.$link_color;
  }
  
}

//lista z menu <ol>

ol {
  margin: 0%;
  padding-left: 0px;
  padding-right: 0px;
  display:flex;
  // flex-direction: row;
  list-style-type: none;
  // align-content: center;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
  height: 50px;
}
ol > li > a {
    // width: 190px;
    background-color: colors.$menu_color;
    display: inline-block;
    // text-decoration: none;
    font-size: sizes.$menu_nav_font_sizes;
    padding: 7px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-right: 2px dotted colors.$second_color;
    border-left: 2px dotted colors.$second_color;
    border-top: 2px dotted colors.$second_color;
    border-bottom: 2px dotted colors.$second_color;
    border-radius: sizes.$border_radius;
    text-align: center;
    color:white;
}

ol > li {
  :hover {
    background-color: colors.$hover_color;
  }
  :hover {
    color: colors.$link_color;

  }
}


//pod lista menu <ul>
ul {
  display: none; // tu chowamy listę rozwijaną <ul> <li>
  // width: 140px;
  background-color: colors.$menu_color;
  font-size: sizes.$under_menu_nav_font_sizes;
  list-style-type: none;
  padding: 5px;
  // margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  // margin-bottom: 5px;
  border-right: 2px dotted colors.$second_color;
  border-left: 2px dotted colors.$second_color;
  border-top: 2px dotted colors.$second_color;
  border-bottom: 2px dotted colors.$second_color;
  border-radius: sizes.$border_radius;
  opacity: 90%;
  text-align: center;
}
// tu rozwijamy listę rozwijaną <ul> <li> po najechaniu kursorem

ol > li:hover > ul {
  // text-align: center;
}

ul > li > a {
  color:white;

}
// #menu-smart {
//   display: none;
// }
@media (max-width: 735px) {
  // #container {
  //   display: flex;
  // flex-direction: column;
  // }
  #header {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: stretch;
  }
  // #menu {
  //   position: fixed;
  //   bottom: 0;
  // }
ol {
display: flex;
position: fixed;
width: 100%;
height: 120px;
justify-content: space-evenly;
flex-wrap: wrap;
bottom: 0;
background-color: colors.$menu_color;
opacity: 90%;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
}
#container {
display: grid;
grid-template-columns: 100%;
  grid-template-areas:
  "header"
  "topbarL"
  "topbarR"
  "boczny"
  "main"
  "adv1"
  "footer"
  "menu";
}
ul {
  position: relative;
  bottom: 140px;
}
.nasz-zespol {
  bottom: 260px;
}
#nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
#nav a {
  width: 100%;
}
#footer {
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.adv2{
display: none;
}
#boczny {
  position: sticky;
  top:0;
  z-index: 100;
  gap: 0;
}
#logo h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.bigtitle {
  font-size: 20px;
}
}





