body {
  font-family: "Lora", serif;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 90%;
}

#container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 250px 200px auto 250px;
  grid-template-areas: "header header header header" "menu menu menu menu" "topbarL topbarR topbarR topbarR" "main main main boczny" "footer footer footer footer";
  justify-items: stretch;
  align-items: stretch;
  gap: 10px 10px;
}

#header {
  grid-area: header;
  display: grid;
  grid-template-columns: 250px 200px auto 250px;
  grid-template-areas: "logo logo BX BX";
  gap: 10px 10px;
  justify-items: stretch;
  align-items: stretch;
}

#logo {
  background-color: #f8d665;
  width: auto;
  height: 120px;
  text-align: center;
  border-radius: 7px;
  grid-area: logo;
  justify-items: stretch;
  align-items: stretch;
}

em {
  margin: 10px;
  padding: 7px;
  align-content: center;
}

#BX {
  width: auto;
  max-height: 120px;
  text-align: center;
  border-radius: 7px;
  grid-area: BX;
  justify-items: stretch;
  align-items: stretch;
}

#menu {
  height: 60px;
  grid-area: menu;
  border-radius: 7px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

#topbarL {
  padding: 20px;
  background-color: #57534d;
  text-align: center;
  grid-area: topbarL;
  border-radius: 7px;
  z-index: 0;
  opacity: 85%;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
}
#topbarL img {
  display: block;
  height: 150px;
  width: 200px;
  justify-items: center;
}

#topbarR {
  padding: 20px;
  background-color: #57534d;
  font-size: 16px;
  grid-area: topbarR;
  border-radius: 7px;
  opacity: 85%;
  z-index: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  grid-area: main;
  gap: 10px 10px;
}

#boczny {
  grid-area: boczny;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "nav" "adv";
  justify-items: stretch;
  align-items: stretch;
  gap: 10px 10px;
}

#nav {
  font-size: 19px;
  background-color: #6e6d69;
  border-radius: 7px;
  opacity: 100%;
  text-align: center;
  justify-items: stretch;
  align-items: stretch;
}
#nav a {
  color: white;
}

#adv {
  font-size: 19px;
  background-color: #6e6d69;
  border-radius: 7px;
  opacity: 100%;
  text-align: center;
  justify-items: stretch;
  align-items: stretch;
  height: auto;
}

#cont {
  padding: 10px;
  text-align: center;
  grid-area: cont;
  border-radius: 7px;
  background-color: #e0dc9b;
  justify-items: stretch;
  align-items: stretch;
}

#footer {
  text-align: center;
  text-shadow: 2px 2px grey;
  height: 50px;
  border-radius: 7px;
  background-color: #f8d665;
  justify-items: stretch;
  align-items: stretch;
  grid-area: footer;
}

.optionL {
  height: 25px;
  padding: 10px;
  border-bottom: 2px dotted #444444;
}

.bigtitle {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
}

.dottedline {
  height: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 2px dotted #444444;
}

/* .fb {
  height: 50px;
  background-color: #3095d3;
  text-align: center;
  border-right: 5px solid colors.$second_color;
  border-left: 5px solid colors.$second_color;
  border-top: 5px solid colors.$second_color;
  border-bottom: 5px solid colors.$second_color;
  border-radius: sizes.$border_radius;
  background-color: #888881;
} */
ol > li > ul a {
  text-decoration: none;
  color: white;
}

ol > li > ul > li {
  position: relative;
  z-index: 100;
}

ol > li:hover > ul {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}
a :link {
  text-decoration: none;
}
a :visited {
  color: rgb(65, 15, 75);
  text-decoration: none;
}
a :hover {
  background-color: #a19b93;
  color: rgb(28, 82, 14);
}

ol {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ol > li > a {
  background-color: #161615;
  font-size: 19px;
  padding: 7px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-right: 2px dotted #57534d;
  border-left: 2px dotted #57534d;
  border-top: 2px dotted #57534d;
  border-bottom: 2px dotted #57534d;
  border-radius: 7px;
  text-align: center;
  justify-content: space-between;
  color: white;
}

ol > li :hover {
  background-color: #a19b93;
}
ol > li :hover {
  color: rgb(28, 82, 14);
}

ul {
  display: none;
  background-color: #161615;
  font-size: 16px;
  list-style-type: none;
  padding: 7px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-right: 2px dotted #57534d;
  border-left: 2px dotted #57534d;
  border-top: 2px dotted #57534d;
  border-bottom: 2px dotted #57534d;
  border-radius: 7px;
  opacity: 90%;
}

ol > li:hover > ul {
  display: flex;
  text-align: center;
}

ul > li > a {
  color: white;
}

@media (max-width: 735px) {
  #container {
    display: flex;
    flex-direction: column;
  }
  #header {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: stretch;
  }
  ol {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #menu {
    display: none;
  }
  body {
    background-image: none;
  }
}