$background_color: #a09f65;
$content_color: rgb(237, 194, 0);
$second_color: #57534d;
$head_footer_color: rgb(237, 194, 0);
$options_nav_color:#6e6d69;
//menu
$menu_color:#161615;
$hover_color:#a19b93;
$link_color:rgb(28, 82, 14);